<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{title}}</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/{{cssName}}.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div id="header-container">
	<header>
		<div id="header-logo">
			<ul>
				<li>M A D E</li>
				<li>P U B L I S H E R S</li>
			</ul>
		</div>
		<div id="header-nav">
			<ul>
				<!--<li><a href="localhost:82/store.html">Store</a></li>
				<li><a href="localhost:82/journal.html">Journal</a></li>
				<li><a href="localhost:82/publications.html">Publications</a></li>
				<li><a href="localhost:82/about.html">About Us</a></li>
				<li><a href="localhost:82/follow.html">Follow Us</a></li>-->

				<a href="localhost:82/store.html">Store</a>
				<a href="localhost:82/journal.html">Journal</a>
				<a href="localhost:82/publications.html">Publications</a>
				<a href="localhost:82/about.html">About Us</a>
				<a href="localhost:82/follow.html">Follow Us</a>
			</ul>
		</div>
		<div id="cart-account">
			<ul>
				<li>Shopping Cart (0)</li>
				<li>Login</li>
			</ul>
		</div>
		<div id="cart-account-icon">
            <i class="fa fa-list" aria-hidden="true"></i>
        </div>
	</header>
</div>
